header{text-align: center;
background-color: white;
font-family: 'Lora', serif;
font-size: small;
padding: 1rem;}
header img{width: 27rem;}
body{text-align: center;
font-family: 'Playfair Display', serif;
font-weight: bold;
color: rgb(27, 20, 100);
background-color: beige;}
a{color: whitesmoke;}
a:hover{color: rgb(125, 240, 177);}
a:active{color: #2be2ca;}
nav{background-color: rgb(4, 121, 148);
padding: 0.01rem;}
div{background-color: rgb(231, 228, 228);
padding-left: 1rem;
padding-right: 1rem;
padding-bottom: 0.5rem;}
div img{width: 20rem;}
footer{background-color: rgb(253, 218, 223);
padding-bottom: 0.5rem;}
@media (min-width:800px) {
header{font-size: 1rem;}
a{margin-left: 1rem;
margin-right: 1rem;}
}
@media (min-width:1110px) {
header{font-size: large;}
a{margin-left: 2rem;
margin-right: 2rem;}
}
@media (min-width:1600px){
header{font-size: larger;}
a{margin-left: 3rem;
margin-right: 3rem;}
}